 <div style="padding-left:40px; background-color:black; color:white; line-height:50px;"> ANGULAR 4 DEMO
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="www.google.com">Link 1</a> &nbsp;&nbsp;
    <a href="www.google.com">Link 2</a>&nbsp;&nbsp;
    <a href="www.google.com">Link 3</a> 
 </div>
  <div class="row" style="margin-left:40px; height:700px;">
      <div class="col-2">
            <component1></component1>  
      </div>
      <div class="col-8" style="border-left:dotted 1px black;border-right:dotted 1px black;">
          <div style="margin-top:5px; text-align:center;" class="jumbotron">
              Here will go all your carousels
          </div>
          <div style="border:solid 1px darkolivegreen; margin-top:5px;height:500px;text-align:center;">Content</div>
      </div>
      <div class="col-2" style="border:solid 0px yellow;">right side bar</div>
  </div>  
  <div class="row" style="padding-left:40px; background-color:grey; color:white; height:200px;">
      <div style="border-right:dotted 1px green;" class="col-3">Footer 1</div>
      <div style="border-right:dotted 1px red;" class="col-3">Footer 2</div>
      <div style="border-right:dotted 1px yellow;" class="col-3">Footer 3</div>
      <div style="border-right:dotted 1px black;" class="col-3">Footer 4</div>
  </div>
